
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<div class="lateral-direita mx-0 mt-xl-2 me-xl-2 me-xxl-5 max-h-75 width-responsive">
    <div class="card-container">
      <p class="ranking-title">Ranking Pessoal</p>

      <div class="block-container xp-container">
        <span class="icon material-symbols-outlined">
          bolt
          </span>
        <div>
          <h4>42774</h4>
          <p>Total de XP</p>
        </div>
      </div>

      <div class="block-container position-container">
        <span class="icon material-symbols-outlined">
          workspace_premium
          </span>
        <div>
          <h4>7º lugar</h4>
          <p>Sua pontuação</p>
        </div>
      </div>

      <div class="block-container quizzes-section">
        <h5 class="section-title">Quizzes</h5>
        <ul class="list-group">
          <li class="list-group-item"><span>1º JavaScript</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span>2º Lógica</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span>3º Banco de dados</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span>4º Web Design</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span>5º Python</span> <strong>20 XP</strong></li>
        </ul>
      </div>

      <div class="block-container categories-section">
        <h5 class="section-title">Categorias</h5>
        <ul class="list-group">
          <li class="list-group-item"><span>1º JavaScript</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span>2º Lógica</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span>3º Banco de dados</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span>4º Web Design</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span>5º Python</span> <strong>20 XP</strong></li>
        </ul>
      </div>
    </div>
  </div>
