<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<div class="lateral-direita mx-0 mt-xl-2 me-xl-2 me-xxl-5  width-responsive">
  <div class="card-container">
    <p class="ranking-title">Ranking Pessoal</p>

    <div class="block-container xp-container">
      <span class="icon material-symbols-outlined">
        bolt
      </span>
      <div>
        <h4 style="font-family: 'Poppins-Bold';">{{kpi.totaScore}}</h4>
        <p>Total de XP</p>
      </div>
    </div>

    <div class="block-container position-container">
      <span class="icon material-symbols-outlined">
        workspace_premium
      </span>
      <div>
        <h4 style="font-family: 'Poppins-Bold';">{{position}}</h4>
        <p>Sua posição</p>
      </div>
    </div>

    <div class="block-container quizzes-section">
      <h5 class="section-title">Quizzes</h5>
      <ul class="list-group">
        @if(kpi && kpi.quizzesRank) {
        @if(!kpi.quizzesRank.length) {
        <p>Realize quizzes para visualizar seu rank</p>
        }@else {
        @for(quiz of kpi.quizzesRank; track quiz.quizId) {
        <li class="list-group-item"><span>{{quiz.quizTitle}}</span> <strong>{{quiz.score}}</strong></li>
        }
        }
        }
      </ul>
    </div>

    <div class="block-container categories-section">
      <h5 class="section-title">Categorias</h5>
      <ul class="list-group">
        @if(kpi && kpi.tagsRank) {
        @if(!kpi.tagsRank.length) {
        <p>Realize quizzes para visualizar seu rank</p>
        }@else {
        @for(quiz of kpi.tagsRank; track quiz.tagId) {
        <li class="list-group-item"><span>{{quiz.tagDescription}}</span> <strong>{{quiz.totalscore}}</strong></li>
        }
        }
        }
      </ul>
    </div>
  </div>
</div>
