
<div class="lateral-direita mx-0 mt-xl-5 me-xl-3 me-xxl-5 max-h-75 width-responsive">
    <div class="card-container">
      <p class="ranking-title">Ranking Pessoal</p>
  
      <div class="block-container xp-container">
        <span class="icon text-primary">⚡</span>
        <div>
          <h4>42774</h4>
          <p>Total de XP</p>
        </div>
      </div>
  
      <div class="block-container position-container">
        <span class="icon text-success">🏅</span>
        <div>
          <h4>7º lugar</h4>
          <p>Sua pontuação</p>
        </div>
      </div>
  
      <div class="block-container quizzes-section">
        <h4 class="section-title">Quizzes</h4>
        <ul class="list-group">
          <li class="list-group-item"><span class="text-span">1º JavaScript</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span class="text-span">2º Lógica</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span class="text-span">3º Banco de dados</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span class="text-span">4º Web Design</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span class="text-span">5º Python</span> <strong>20 XP</strong></li>
        </ul>
      </div>
  
      <div class="block-container categories-section">
        <h4 class="section-title">Categorias</h4>
        <ul class="list-group">
          <li class="list-group-item"><span class="text-span">1º JavaScript</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span class="text-span">2º Lógica</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span class="text-span">3º Banco de dados</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span class="text-span">4º Web Design</span> <strong>20 XP</strong></li>
          <li class="list-group-item"><span class="text-span">5º Python</span> <strong>20 XP</strong></li>
        </ul>
      </div>
    </div>
  </div>
  