

.lateral-direita {
  max-width: 300px;
  width: 100%;
}

.card-container {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.ranking-title {
  font-family: "Poppins-Bold";
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.block-container {
  border-radius: 1rem;
  padding: 0.975rem;
  margin-bottom: 1rem;
}

.xp-container {
  background-color: #FFE5E6;
  display: flex;
  align-items: center;
  gap: 10px;
}
.position-container {
  background-color: #E7F3EC;
  display: flex;
  align-items: center;
  gap: 15px;
}
.quizzes-section {
  background-color: #E6E5FF;
  border-radius: 1rem;
  padding: 1.5rem;
}
.categories-section {
  background-color: #FFF7CD;
  border-radius: 1rem;
  padding: 1.5rem;
}

.icon {
  font-size: 1.9rem;
}

.block-container h4 {
  font-family: "Poppins-semiBold";
  margin: 0;
  font-size: 1rem;
}
.section-title {
  font-family: "Poppins-semiBold";
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.block-container p {
  margin: 0;
  color: #6c757d;
  font-family: "Poppins-Medium";
  font-size: 0.800rem;
}


.list-group-item {
  background-color: transparent;
  border: none;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.900rem;
  color: #333;
  font-family: "Poppins-Medium", sans-serif;
  font-weight: 600;
}


