<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<div class="container">
  <div class="lateral-esqueda">
    <div class="topo-esquerda">
      <span class="material-symbols-outlined" style="color: var(--white);">settings</span>
      <h1>meensina</h1>
      <img src="" alt="foto user">
      <p>Maria</p>
    </div>
    <div class="meio-esquerda">
      <div class="circle">
        <div class="percentage">70%<br><span>de acertos</span></div>
      </div>
      <button class="score-button">Visualizar pontuação</button>
    </div>
    <div class="meio-final">
      <h3>Olá, Maria</h3>
      <p>Seja bem vindo(a) a sua <br> plataforma de estudos</p>
    </div>
  </div>

  <main class="meio">
    <div class="all">
      <span class="material-symbols-outlined">grid_view</span>
      <p>All</p>
    </div>
    <div class="all">
      <span class="material-symbols-outlined">computer</span>
      <p>Desenvolvimento Web</p>
    </div>
    <div class="all">
      <span class="material-symbols-outlined">database</span>
      <p>Data Base</p>
    </div>
    <p>Mais populares</p>
    <div class="quizzes-cards">
      <div>
        <span class="material-symbols-outlined">database</span>
        <p>Data Base</p>
        <p>Banco de dados no SQL</p>
        <button>COMEÇAR</button>
      </div>
    </div>
  </main>
</div>
