/* Reset  */


.menu {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.formulario {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1.25rem;
}

.cards {
  display: flex;
  gap: 20px;
  line-height: 1.1;
  letter-spacing: 8;
}

button {
  background-color: #333333;
  color: var(--white);
  font-weight: bold;
  padding: 0.5em;
  border-radius: 4px;
  font-size: 20px;
}

button:hover {
  background-color: #333333df;
}


.titulo-login {
  font-family: "Poppins-semiBold";
  text-align: center;
  font-size: 40px;
}

input {
  border: solid #8d8d8d 1px;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  font-size: 19px;
  font-family: "Poppins-Regular";
}

a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
}