<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
  rel="stylesheet"
/>

<div
  class="container-fluid min-vh-100 d-flex justify-content-center align-items-center"
  style="background-color: #efefef"
>
  <main>
    <app-welcome />

    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <h1 class="titulo-login">Log in</h1>
      <input type="text" placeholder="Username" formControlName="username" />
      <div class="password">
        <input
          placeholder="Senha"
          formControlName="password"
          type="{{ showPassword ? 'text' : 'password' }}"
        />
        <span
          class="material-symbols-outlined visibility"
          (click)="showPassword = !showPassword"
          >{{ !showPassword ? "visibility" : "visibility_off" }}</span
        >
      </div>
      <button
        style="
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 2em;
        "
        [disabled]="!this.loginForm.valid || loading"
      >
        @if(loading){
        <div class="spinner"></div>
        } @else { Entrar }
      </button>
      <p class="link text-center" style="font-family: 'Poppins-regular';">
        Ainda não tem uma conta?
        <a style="cursor: pointer" (click)="navigate()">Cadastre-se</a>
      </p>
    </form>
  </main>
</div>
