<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<div class="menu ">
  <main class="d-lg-flex col-lg-6 col-md-6">
    <app-welcome />

    <form class=" formulario" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <h1 class="titulo-login">Log in</h1>
      <input type="text" placeholder="Username" formControlName="username">
      <input type="text" placeholder="Senha" formControlName="password" type="password">
      <button style="cursor: pointer; display: flex; justify-content: center; align-items: center; height: 2em;"
        [disabled]="!this.loginForm.valid">
        @if(loading){
        <div class="spinner"></div>
        }
        @else {
        Log in
        }
      </button>
      <p class="link text-center">Ainda não tem uma conta? <a style="cursor: pointer;" (click)="navigate()">Sign up</a>
      </p>
    </form>
  </main>

</div>