<app-side-bar [screen]="'rank'"></app-side-bar>
<div class="d-flex min-vh-100 mx-0 px-0" style="background-color: #efefef">
  <main class="margin-left">
    <div class="d-flex">
      <!-- Navbar (já estabelecida como 3 colunas em md) -->
      <div class="col-12 col-xl-9">
        <app-rank-global [rank]="rank" [loading]="rankLoading"></app-rank-global>
      </div>

      <div class="col-12 col-xl-3 d-flex" style="padding: 0px; justify-content: end; padding-right: 1em; padding-top: 2em;;">
        <app-rank-pessoal [kpi]="kpi" [rank]="rank" [loading]="kpiLoading"></app-rank-pessoal>
      </div>
    </div>
  </main>
</div>