.ranking-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

main {
  flex: 1;
}

@media(max-width: 720px){
  app-rank-global{
    display: flex;
    flex-direction: column;
  }
}
