/* Estilo geral do formulário */
.form-container {
    background-color: #161616; /* Fundo escuro do formulário */
    padding: 20px;
    border-radius: 8px;
  }
  
  /* Estilo dos inputs personalizados */
  .custom-input {
    background-color: #333333; /* Fundo do input */
    border: 1px solid #D7D3D3; /* Borda branca */
    color: #D7D3D3; /* Cor do texto */
    padding: 10px;
    border-radius: 5px;
  }
  
  .custom-input::placeholder {
    color: #D7D3D3; /* Cor do placeholder */
  }
  
  /* Estilo dos botões */
  .custom-save-button {
    background-color: #D7D3D3; /* Cor do botão salvar */
    color: #161616; /* Cor do texto do botão salvar */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .custom-cancel-button {
    background-color: #333333; /* Cor do botão cancelar */
    color: #D7D3D3; /* Cor do texto do botão cancelar */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  /* Ajuste do gap entre os elementos */
  .btn_update {
    margin-top: 20px;
  }
  