<main>
  <div class="welcome-container">
    <h1 class="texto-branco titulo">mensina.</h1>
    <p class="texto-branco subtitulo">Bem-vindo à plataforma definitiva de quizzes.</p>
    <div class="cards">
      <div class="aprenda">
        <img src="/assets/icon/quiz.svg" alt="Quiz Icon">
        <p class="texto-card">Aprenda com quizzes</p>
      </div>
      <div class="acumule">
        <img src="/assets/icon/quiz.svg" alt="Quiz Icon">
        <p class="texto-card">Acumule pontos</p>
      </div>
      <div class="acompanhe">
        <img src="/assets/icon/quiz.svg" alt="Quiz Icon">
        <p class="texto-card">Acompanhe seu progresso</p>
      </div>
    </div>
  </div>
  <div class="login-container">
      <h1 class="titulo">Log in</h1>
      <input type="text" placeholder="Username">
      <input type="text" placeholder="Senha">
      <button>Log in</button>
      <p>Ainda não tem uma conta? <a href="">Sign up</a></p>
  </div>
</main>
