/* Estilos lateral esquerda  */

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1.5px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 24px;
  position: relative;
  margin-bottom: 15px;
}

.meio-esquerda {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.settings {
  position: absolute;
  top: 20px;
  left: 20px;
}

.lateral-esquerda {
  position: relative;
  background-color: #161616;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: space-between;
  padding: 30px 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.lateral-esquerda h1 {
  margin-top: 0.9em;
  font-family: "Poppins-semiBold";
  font-size: 2em;
}

.icon {
  height: auto;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: cover;
  margin-top: 15px;
}

.icon-header {
  height: auto;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.score-button {
  background-color: #ece8e8;
  padding: 5px 10px;
  border-radius: 15px;
  font-family: "Roboto-regular";
}

.percentage {
  font-family: "Poppins-semiBold";
  font-size: 60px;
  line-height: 0.4;
}

.sub-porcentagem {
  font-family: "Poppins-regular";
  font-size: 20px;
  font-weight: 100;
}

.welcome-name {
  font-family: "Poppins-Light";
  font-size: 1.5em;
  font-weight: 400;
}

.welcome-text {
  font-family: "Poppins-Light";
  line-height: 1em;
  font-size: 13px;
  color: #ffffffc6;
}

/* Estilo main  */

.popular {
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-family: "Poppins-Medium";
  margin-left: 5px;
}

/* Estilo lateral direita  */

.lateral-direita {
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 10px;
}

.ranking-title {
  font-family: "Poppins-bold";
  font-size: large;
  text-align: center;
  margin-bottom: 1em;
}

.ranking {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins-Bold";
}

.ranking img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.perfil-ranking {
  display: flex;
  align-items: center;
  font-family: "Poppins-regular";
}

.meus-quizzes-title {
  margin-top: 3em;
  font-family: "Poppins-Medium";
  font-size: large;
  font-weight: 500;
  margin-left: 1em;
  margin-bottom: 4px;
}

.meus-quizzes {
  background-color: #d3d4fe;
  padding: 1em;
  border-radius: 15px;
}

.link {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #161616;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.nome-meusquizzes {
  display: flex;
  gap: 0.3em;
}

.meus-quizzes-card button {
  padding: 0.3em 2em;
  font-family: "Poppins-Medium";
  border-radius: 15px;
  background-color: #ffffffd4;
  align-self: end;
}

input {
  border: solid #f7f7f7 1px;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  font-size: 19px;
  font-family: "Poppins-Regular";
  background-color: #161616;
  color: #f7f7f7;
}

.btn_update button {
  padding: 0.5em 1em;
  border-radius: 5px;
  font-family: "Poppins-semiBold";
}

.btn_update {
  display: flex;
  align-content: left;
  gap: 0.5em;
}

.lateral-esquerda.show {
  transform: translateX(0);
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.margin-right {
  margin-right: 380px;
}

@media (min-width: 992px) {
  .lateral-esquerda {
    transform: translateX(0);
  }
  .margin-left {
    margin-left: 350px;
  }
  .min-w {
    min-width: 350px;
  }
}
.logout {
  position: relative;
  left: -30px;
}

@media (max-width: 992px) {
  .padding-bottom {
    padding-bottom: 100px;
  }
  .logout {
    position: absolute;
    bottom: 90px;
    left: 25px;
  }
}

@media (min-width: 1200px) {
  .max-height {
    max-height: 40vh;
  }
}
@media (max-width: 1200px) {
  .width-responsive {
    width: 100%;
  }

  .lateral-direita {
    position: static;
  }

  .margin-right {
    margin-right: 0px;
  }
}
