<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<header class="p-2 d-lg-none d-flex align-items-center justify-content-between" style="background-color: #161616">
  <button (click)="toggleNavbar()" class="bg-transparent" style="width: 50px">
    <span class="material-symbols-outlined text-white fs-2">menu</span>
  </button>
  <h1 class="text-white">mensina</h1>
  <div class="position-relative">
    @if(userIconUrl) {
    <img class="icon-header" [src]="userIconUrl" alt="Ícone do Usuário" />
    }@else {
    <img class="icon-header" src="/svg/userIcon.svg" alt="Ícone do Usuário" />
    } @if(loadingIcon) {
    <div class="spinner position-absolute" style="right: 25px; bottom: 25px"></div>
    }
  </div>
</header>

<div class="d-flex min-vh-100 mx-0 px-0" style="background-color: #efefef">
  @if(!editarPerfil){
  <div class="lateral-esquerda h-100 position-fixed px-5 pt-5 d-lg-flex"
    [ngClass]="{ show: navbarVisivel || telaGrande }" style="max-width: 346px">
    <button class="position-absolute bg-transparent d-lg-none" style="right: 20px; top: 20px" (click)="toggleNavbar()">
      <span class="material-symbols-outlined text-white">close</span>
    </button>
    <div class="d-flex flex-column align-items-center gap-2">
      <span class="material-symbols-outlined settings" style="cursor: pointer; color: var(--white)"
        (click)="ativarEdicao()">edit</span>
      <div class="position-relative">
        @if(userIconUrl) {
        <img class="icon d-none d-lg-block" [src]="userIconUrl" alt="Ícone do Usuário" />
        } @else {
        <img class="icon d-none d-lg-block" src="/svg/userIcon.svg" alt="Ícone do Usuário" />
        } @if(loadingIcon) {
        <div class="spinner position-absolute" style="right: 40px; bottom: 40px"></div>
        }
      </div>
      <h3 class="welcome-name">Olá, {{ userInfo.username }}</h3>
      <p class="welcome-text">
        Seja bem vindo(a) a sua <br />
        plataforma de estudos
      </p>
    </div>

    <div class="meio-esquerda">
      <div class="circle">
        <div class="percentage">
          70%<br /><span class="sub-porcentagem">de acertos</span>
        </div>
      </div>
      <button class="score-button">Visualizar pontuação</button>
    </div>
    <div class="meio-final d-flex justify-content-between align-items-center">
      <span class="material-symbols-outlined logout d-flex" style="align-items: start; cursor: pointer"
        (click)="logout()">logout</span>
      <h1 class="d-none d-lg-block m-0">mensina</h1>
      <div style="width: 24px"></div>
    </div>
  </div>
  }@else{
  <div class="lateral-esquerda h-100 position-fixed px-5 pt-5 d-lg-flex padding-bottom"
    [ngClass]="{ show: navbarVisivel || telaGrande }" style="max-width: 346px">
    <button class="position-absolute bg-transparent d-lg-none" style="right: 20px; top: 20px" (click)="toggleNavbar()">
      <span class="material-symbols-outlined text-white">close</span>
    </button>
    <div class="d-flex flex-column align-items-center gap-3">
      <span class="material-symbols-outlined settings" style="cursor: pointer; color: var(--white)"
        (click)="ativarEdicao()">arrow_back</span>

      <div class="position-relative">
        <button (click)="fileInput.click()"
          class="position-absolute z-3 rounded-circle d-flex justify-content-center align-items-center" style="
            background-color: #16161681;
            width: 40px;
            height: 40px;
            top: 7px;
            right: -5px;
          ">
          <span class="material-symbols-outlined" style="cursor: pointer; color: var(--white)">edit</span>
          <input type="file" accept="image/*" #fileInput (change)="onFileSelected($event)" style="display: none" />
        </button>
        <div class="position-relative">
          @if(userIconUrl) {
          <img class="icon" [src]="userIconUrl" alt="Ícone do Usuário" />
          }@else {
          <img class="icon d-none d-lg-block" src="/svg/userIcon.svg" alt="Ícone do Usuário" />
          }@if(loadingIcon) {
          <div class="spinner position-absolute" style="right: 40px; bottom: 40px"></div>
          }
        </div>
      </div>
      <app-atualizar-dados [userInfo]="userInfo" (onSubmitEvent)="onSubmitEvent($event)"></app-atualizar-dados>
    </div>
    <div class="meio-final">
      <h1 class="d-none d-lg-block">mensina</h1>
    </div>
  </div>

  }

  <div
    class="px-3 pb-5 p-xl-0 d-flex w-100 min-vh-100 gap-5 gap-lg-2 gap-xxl-0 align-items-center align-items-xl-start flex-column flex-xl-row justify-content-between margin-right margin-left">
    <main class="px-xl-2 px-xxl-5 pt-2 pb-5 py-md-3 w-100">
      <div class="tags">
        <app-tag-list (tagSelected)="onChangeTag($event)"></app-tag-list>
      </div>
      <p class="popular">Mais populares</p>

      @if (loadingQuizzes!) {
      <div style="height: 20vh; align-content: center; justify-items: center">
        <div class="spinner-card justify-content-center"></div>
      </div>
      } @else {
      <div class="row d-flex flex-fill align-items-stretch">
        @for(quiz of quizzes; track quiz.id){
        <div class="col-12 col-sm-6 col-xxl-4 p-2">
          <app-quiz-card [quiz]="quiz" [button]="'COMEÇAR'" />
        </div>
        }
      </div>
      }
    </main>

    <div class="lateral-direita mx-0 mt-xl-5 me-xl-3 me-xxl-5 max-h-75 width-responsive">
      <div class="py-3 min-w">
        <div class="px-3 px-md-5 px-xxl-4">
          <p class="ranking-title">Ranking global</p>
          @for(item of rankList; track item.id){
            <app-rank-item [position]="$index+1" [rankItem]="item"></app-rank-item>
          }
          <div class="link">
            <a [routerLink]="['/rank']">Ver mais</a>
          </div>
        </div>


        <div class="px-md-2">
          <p class="meus-quizzes-title">Quizzes em andamento</p>

          <div class="d-flex flex-wrap flex-xl-nowrap flex-xl-column overflow-y-auto max-height">
            @if (loadingMyQuizzes!) {
            <div style="height: 20vh; align-content: center; justify-items: center">
              <div class="spinner-card justify-content-center"></div>
            </div>
            } @else { @for(quiz of myQuizzes; track quiz.id){
            <div class="p-2 col-12 col-sm-6 col-xl-12">
              <app-quiz-card [quiz]="quiz" [button]="'CONTINUAR'" />
            </div>
            } }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>