<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<div class="rounded-start-4 d-none d-lg-block welcome-container container">
  <h1 class="text-light titulo">mensina<span class="enfeite">.</span></h1>
  <p class="text-light subtitulo">Bem-vindo à plataforma definitiva <br> de quizzes.</p>
  <div class="cards">
    <div class="card aprenda">
      <span class="material-symbols-outlined">quiz</span>
      <p class="texto-card">Aprenda com quizzes</p>
    </div>
    <div class="card acumule">
      <span class="material-symbols-outlined">scoreboard</span>
      <p class="texto-card">Acumule pontos</p>
    </div>
    <div class="card acompanhe">
      <span class="material-symbols-outlined">timeline</span>
      <p class="texto-card">Acompanhe seu progresso</p>
    </div>
  </div>
</div>

<div class="titulo-sm">
  <h1 class="titulo">mensina.</h1>
</div>

<div class="cards-sm">
  <div class="card aprenda">
    <span class="material-symbols-outlined">quiz</span>
    <p class="texto-card">Aprenda com quizzes</p>
  </div>
  <div class="card acumule">
    <span class="material-symbols-outlined">scoreboard</span>
    <p class="texto-card">Acumule pontos</p>
  </div>
  <div class="card acompanhe">
    <span class="material-symbols-outlined">timeline</span>
    <p class="texto-card">Acompanhe seu progresso</p>
  </div>
</div>