/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

@font-face {
  font-family: 'Poppins-bold';
  src: url(app/assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-regular';
  src: url(app/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Poppins-regular';
  src: url(app/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins-semiBold';
  src: url(app/assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: 'Poppins-Light';
  src: url(app/assets/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url(app/assets/fonts/Poppins-Medium.ttf);
}
:root {
  --black: #161616;
  --milk: #F7F7F7;
  --white: #FFFFFF;
  --purple: #D3D4FE;
  --green: #E1ECE4;
  --yellow: #FAEFB6;
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

.icon-card {
  background-color: var(--white);
  padding: 7px;
  border-radius: 50%;
}

.tags {
  display: flex;
  gap: 1em;
}

.tag-card {
  padding: 7px 8px;
  display: flex;
  background-color: #ECE8E8;
  gap: 1em;
  border-radius: 50px;
  align-items: center;
}

.tag-card p {
  margin-right: 15px;
  font-family: 'Poppins-Medium';
}

.quiz{
  background-color: #FCD5D6;
  border-radius: 15px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.quizz-name {
  display: flex;
  gap: 0.5em;
}

.quiz-title {
  align-self: center;
  font-family: 'Poppins-Medium';
  color: #161616e4;
}

.quiz p {
  font-family: 'Poppins-Medium';
  margin-left: 5px;
}

.quiz button {
  padding: 0.3em 2em;
  font-family: 'Poppins-Medium';
  border-radius: 15px;
  background-color: #ffffffd4;
  align-self: end;
}

/* Toastr  */
.toast-success {
  background-color: rgba(177, 205, 177, 0.748);
  font-family: "Poppins-regular";
  box-shadow: none!important;
}

.toast-error {
  background-color: rgb(255, 174, 187);
  font-family: "Poppins-regular";
  box-shadow: none!important;
}

.toast-info {
  background-color: rgb(162, 208, 240);
  box-shadow: none!important;
  font-family: "Poppins-regular";
}
