<div class="mt-5">
    <div class="ranking-global-container">
      <h2 class="ranking-title" style="font-family: 'Poppins-bold'; color: #161616; font-size: 1.3rem;">Ranking Global</h2>
      @if(loading) {
        <div class="spinner-card" style="margin: 80px auto;"></div>
      }@else {
        <ul class="ranking-list">
          @for(rankItem of rank; track rankItem.id){
            <li class="ranking-item">
              <app-rank-item [rankItem]="rankItem" [position]="$index+1"/>
            </li>
          }
        </ul>
      }
    </div>
  </div>
